In [1]:
import pandas as pd

In [2]:
def import_files(name):
    data = pd.read_csv(name)
    return data

In [3]:
country_df = import_files("dataset/WDICountry.csv")
country_df.shape

(265, 31)

In [4]:
main_df = import_files("dataset/WDICSV.csv")
main_df.shape

(397936, 68)

In [5]:
series_df = import_files("dataset/WDISeries.csv")
series_df.shape

(1453, 20)

In [6]:
id_cols = ["Country Name", "Country Code", "Indicator Name", "Indicator Code"]
year_col=[]
for col in main_df.columns:
    if col not in id_cols:
        year_col.append(col)

In [7]:
main_melted = main_df.melt(id_vars=id_cols, value_vars= year_col)

In [8]:
main_melted.isnull().sum()
new_main_melted= main_melted.dropna()
new_main_melted.shape

(8825817, 6)

In [9]:
years_to_keep = ['2004', '2020', '2023']
filtered_df = new_main_melted[new_main_melted['variable'].isin(years_to_keep)]

In [10]:
filtered_df['variable'].unique()

array(['2004', '2020', '2023'], dtype=object)

In [11]:
new_main_melted=filtered_df

In [13]:
new_main_melted.shape

(492875, 6)

In [14]:
main_melted.isnull().sum().sum()

np.int64(16642087)

In [15]:
new_main_melted.isnull().sum().sum()

np.int64(0)

In [ ]:
country_df.isnull().sum()

In [16]:
country_cleaned = country_df[['Country Code','Short Name','Region','Income Group','Currency Unit']]

In [ ]:
country_cleaned.head()

In [17]:
country_cleaned.isnull().sum()

Country Code      0
Short Name        0
Region           48
Income Group     49
Currency Unit    48
dtype: int64

In [18]:
df_merged = pd.merge(new_main_melted, country_cleaned, on="Country Code",how='left')

In [19]:
df_merged.sort_values(by='variable',ascending=False).head()

,Country Name,Country Code,Indicator Name,Indicator Code,variable,value,Short Name,Region,Income Group,Currency Unit
492874,Zimbabwe,ZWE,Women Business and the Law Index Score (scale ...,SG.LAW.INDX,2023,8.687500e+01,Zimbabwe,Sub-Saharan Africa,Lower middle income,Zimbabwean Dollar
438006,Chile,CHL,Population in largest city,EN.URB.LCTY,2023,6.903392e+06,Chile,Latin America & Caribbean,High income,Chilean peso
438108,China,CHN,"Borrowers from commercial banks (per 1,000 adu...",FB.CBK.BRWR.P3,2023,6.407210e+02,China,East Asia & Pacific,Upper middle income,Chinese yuan
438109,China,CHN,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,2023,2.279446e+02,China,East Asia & Pacific,Upper middle income,Chinese yuan
438110,China,CHN,Broad money (current LCU),FM.LBL.BMNY.CN,2023,2.873428e+14,China,East Asia & Pacific,Upper middle income,Chinese yuan

In [21]:
df_merged.shape

(492875, 10)

In [22]:
series_df.columns

Index(['Series Code', 'Topic', 'Indicator Name', 'Short definition',
       'Long definition', 'Unit of measure', 'Periodicity', 'Base Period',
       'Other notes', 'Aggregation method', 'Limitations and exceptions',
       'Notes from original source', 'General comments', 'Source',
       'Statistical concept and methodology', 'Development relevance',
       'Related source links', 'Other web links', 'Related indicators',
       'License Type'],
      dtype='object')

In [23]:
series_df.isnull().sum()

Series Code                               0
Topic                                     0
Indicator Name                           36
Short definition                       1246
Long definition                          36
Unit of measure                        1397
Periodicity                              60
Base Period                            1379
Other notes                            1394
Aggregation method                      440
Limitations and exceptions              624
Notes from original source             1335
General comments                       1080
Source                                   36
Statistical concept and methodology     535
Development relevance                   726
Related source links                   1395
Other web links                        1436
Related indicators                     1444
License Type                              0
dtype: int64

In [24]:
columns_to_keep = [
    'Series Code',
    'Topic',
    'Indicator Name',
    'Long definition',
    'Unit of measure'
]

series_cleaned = series_df[columns_to_keep]

In [ ]:
series_cleaned.head()

In [25]:
df = pd.merge(df_merged,series_cleaned, left_on="Indicator Code", right_on="Series Code", how="left")
df.shape

(492875, 15)

In [26]:
df.to_csv("data.csv", index=False)

In [27]:
df.shape

(492875, 15)

In [29]:
df.isnull().sum()

Country Name             0
Country Code             0
Indicator Name_x         0
Indicator Code           0
variable                 0
value                    0
Short Name               0
Region               80208
Income Group         81759
Currency Unit        80208
Series Code          20190
Topic                20190
Indicator Name_y     34740
Long definition      34740
Unit of measure     486466
dtype: int64

In [2]:
df = pd.read_csv('data.csv')

In [4]:
df.columns

Index(['Country_Name', 'Country_Code', 'Indicator_Name_x', 'Indicator_Code',
       'variable', 'value', 'Short_Name', 'Region', 'Income_Group',
       'Currency_Unit', 'Series_Code', 'Topic', 'Indicator_Name_y',
       'Long_definition', 'Unit_of_measure'],
      dtype='object')

In [13]:
df.columns

Index(['Country_Name', 'Country_Code', 'Indicator_Name_x', 'Indicator_Code',
       'variable', 'value', 'Short_Name', 'Region', 'Income_Group',
       'Currency_Unit', 'Series_Code', 'Topic', 'Indicator_Name_y',
       'Unit_of_measure'],
      dtype='object')

In [15]:
df.to_csv("data.csv", index=False)